@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.App {
  background-image: url("../src/bg.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
.App div {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text{
  letter-spacing: 3px;
  color: aliceblue;
  font-family: 'Raleway', sans-serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
